

{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'connector/table_styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
    .logo-container {
        text-align: left;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .logo-container img {
        width: 400px;
        height: auto;
    }
</style>
</head>
<body>
<div class="logo-container">
    <img src="{% static 'header.png' %}" alt="Logo">
</div>

<table>
    <thead>
        <button id="createNewBlockBtn">Create New Block</button>
        <tr>
            <th>Block ID</th>
            <th>Status</th>
            <th>Fields</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for block in blocks %}
        <tr>
            <td>{{ block.id }}</td>
{#            <td>{{ block.block_name }}</td>#}
            <td>{{ block.status }}</td>
            <td>
                App Name: <input type="text" name="app_name_{{ block.id }}" value="{{ block.app_name }}"><br>
                PT Username: <input type="text" name="pt_username_{{ block.id }}" value="{{ block.pt_username }}"><br>
                PT Token: <input type="text" name="pt_token_{{ block.id }}" value="{{ block.pt_token }}"><br>
                AWS Access Key: <input type="text" name="aws_access_key_{{ block.id }}" value="{{ block.aws_access_key }}"><br>
                AWS Secret Key: <input type="text" name="aws_secret_key_{{ block.id }}" value="{{ block.aws_secret_key }}"><br>
                Filter ID List: <input type="text" name="filter_id_list_{{ block.id }}" value="{{ block.filter_id_list }}"><br>
                <td>
                <button onclick="startBlock('{{ block.id }}')">Start</button>
                <button onclick="stopBlock('{{ block.id }}')">Stop</button><br><br>
                <button onclick="deleteBlock('{{ block.id }}')">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    function startBlock(blockId) {
        console.log("Starting block with ID:", blockId);
        fetch(`/start_block/${blockId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
        })
        .then(response => location.reload());
    }

    function stopBlock(blockId) {
        console.log("Stopping block with ID:", blockId);
        fetch(`/stop_block/${blockId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
        })
        .then(response => location.reload());
    }
    function deleteBlock(blockId) {
        fetch(`/delete_block/${blockId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
        })
        .then(response => location.reload());
    }
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function createBlock() {
        fetch(`/create_block/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
        })
        .then(response => location.reload());
    }

    const csrfToken = getCookie('csrftoken');

    document.getElementById('createNewBlockBtn').addEventListener('click', function() {
        fetch('/create_block/', {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
        }).then(function(response) {
            if (response.ok) {
                location.reload(); // Refresh the page to show the new block
            } else {
                console.error('Failed to create a new block.');
            }
        });
    });
</script>
