{% load static %}
<!-- Load static files for use in the template -->
<html>
<head>
    <!-- Linking the stylesheet for table styles -->
<link rel="stylesheet" type="text/css" href="{% static 'connector/table_styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<!-- Display the header logo -->
<div class="logo-container">
    <img src="{% static 'quanza.png' %}">
</div>
<button id="createNewBlockBtn">Create New Block</button>


<div class="tabs">
    <!-- Tab Buttons -->
    {% for block in blocks %}
    <button class="tablink" onclick="openTab('block{{ block.id }}', this)">{{ block.app_name }}</button>
    {% endfor %}
</div>

<!-- Tab Contents -->
{% for block in blocks %}
<div id="block{{ block.id }}" class="tabcontent">
        <table>
        <tr>
            <td class="block-id">{{ block.id }}</td>
            <td id="status_{{ block.id }}" class="{% if block.status == 'RUNNING' %}running{% else %}not-running{% endif %}">{{ block.status }}</td>

            <td>
                <div>App Name: <input type="text" name="app_name_{{ block.id }}" value="{{ block.app_name }}"><br>
                PT Username: <input type="text" name="pt_username_{{ block.id }}" value="{{ block.pt_username }}"><br>
                PT Token: <input type="text" name="pt_token_{{ block.id }}" value="{{ block.pt_token }}"><br>
                AWS Access Key: <input type="text" name="aws_access_key_{{ block.id }}" value="{{ block.aws_access_key }}"><br>
                AWS Secret Key: <input type="text" name="aws_secret_key_{{ block.id }}" value="{{ block.aws_secret_key }}"><br>
                Filter ID List: <input type="text" name="filter_id_list_{{ block.id }}" value="{{ block.filter_id_list }}"><br>
                </div>
                <div>Console Output: <br><textarea id="console_output_{{ block.id }}" data-block-id="{{ block.id }}" class="console-output">{{ block.console_output }}</textarea></div>
                <button class="button-start" onclick="startBlock(event, '{{ block.id }}')">Start</button>
                <button class="button-stop" onclick="stopBlock(event, '{{ block.id }}')">Stop</button>
                <button class="button-delete" onclick="deleteBlock('{{ block.id }}')">Delete</button>
            </td>
        </tr>
        </table>
</div>
{% endfor %}

<script>
function openTab(tabId, element) {
    // Hide all tab contents
    let tabContents = document.querySelectorAll('.tabcontent');
    tabContents.forEach(content => content.style.display = "none");

    // Remove "active" class from all tab buttons
    let tabLinks = document.querySelectorAll('.tablink');
    tabLinks.forEach(link => link.classList.remove('active'));

    // Display the clicked tab content and set the button as active
    document.getElementById(tabId).style.display = "block";
    element.classList.add('active');
}


function updateConsoleOutputs() {
    // Loop through each block and fetch its console output
    document.querySelectorAll('.block-id').forEach(blockElem => {
        let blockId = blockElem.textContent.trim();
        fetch(`/get_console_output/${blockId}/`)
            .then(response => {
                let contentType = response.headers.get("content-type");
                if (contentType && contentType.indexOf("application/json") !== -1) {
                    return response.json();
                }
                console.log("Received content type:", contentType);
                throw new Error("Unexpected content type");
            })
            .then(data => {
                if (data.console_output) {
                    document.querySelector(`#console_output_${blockId}`).textContent = data.console_output;
                }
            })
            .catch(error => {
                console.log("There was a problem with the fetch operation:", error.message);
            });
    });
}

function updateBlockStatuses() {
    // Loop through each block and fetch its status
    document.querySelectorAll('.block-id').forEach(blockElem => {
        let blockId = blockElem.textContent.trim();

        fetch(`/get_block_status/${blockId}/`)
            .then(response => response.json())
            .then(data => {
                let statusElement = document.querySelector(`#status_${blockId}`);
                if (data.status) {
                    statusElement.textContent = data.status;

                    // Update the CSS class based on the block's status
                    if (data.status === "RUNNING") {
                        statusElement.classList.remove("not-running");
                        statusElement.classList.add("running");
                    } else {
                        statusElement.classList.remove("running");
                        statusElement.classList.add("not-running");
                    }
                }
            })
            .catch(error => {
                console.log("There was a problem fetching the block status:", error.message);
            });
    });
}


// Call the function every 5 seconds
setInterval(updateConsoleOutputs, 5000);
setInterval(updateBlockStatuses, 5000);

function startBlock(event, blockId) {
    event.preventDefault();
    console.log("Starting block with ID:", blockId);
    const data = {
        'app_name': document.querySelector(`input[name="app_name_${blockId}"]`).value,
        'pt_username': document.querySelector(`input[name="pt_username_${blockId}"]`).value,
        'pt_token': document.querySelector(`input[name="pt_token_${blockId}"]`).value,
        'aws_access_key': document.querySelector(`input[name="aws_access_key_${blockId}"]`).value,
        'aws_secret_key': document.querySelector(`input[name="aws_secret_key_${blockId}"]`).value,
        'filter_id_list': document.querySelector(`input[name="filter_id_list_${blockId}"]`).value
    };
    fetch(`/start_block/${blockId}/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken
        },
        body: JSON.stringify(data)
    })
    .then(response => updateConsoleOutputs());
}

function stopBlock(event, blockId) {
    event.preventDefault();
    console.log("Stopping block with ID:", blockId);
    fetch(`/stop_block/${blockId}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': 'qW5YGsJ2yfGpKmleCMhytyscg8gce2Y5vRkgyqTFJrXQfW1QIbQxHD59PpCIQ546'
        },
    })
    .then(response =>  updateConsoleOutputs());
}

function deleteBlock(blockId) {
    fetch(`/delete_block/${blockId}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': 'qW5YGsJ2yfGpKmleCMhytyscg8gce2Y5vRkgyqTFJrXQfW1QIbQxHD59PpCIQ546'
        },
    })
    .then(response => location.reload());
}

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const csrfToken = getCookie('csrftoken');

document.getElementById('createNewBlockBtn').addEventListener('click', function() {
    fetch('/create_block/', {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrfToken
        },
    }).then(function(response) {
        if (response.ok) {
            return response.json();  // Assuming the server returns the new block's details as JSON
        } else {
            console.error('Failed to create a new block.');
        }
    }).then(function(block) {
        console.log(block);
        // Create a new tab button for the block
        let tabButton = document.createElement("button");
        tabButton.className = "tablink";
        tabButton.innerHTML = block.app_name;
        tabButton.onclick = function() {
            openTab('block' + block.id, this);
        };
        document.querySelector('.tabs').appendChild(tabButton);

        // Create a corresponding tab content panel for the block
        let tabContent = document.createElement("div");
        tabContent.id = 'block' + block.id;
        tabContent.className = "tabcontent";
        // Add the block details to the tabContent (you can add more details here)
        tabContent.innerHTML = tabContent.innerHTML = `
            <tr>
                <td class="block-id">${block.id}</td>
                <td id="status_${block.id}">${block.status}</td>
                <td>
                    <div>
                        App Name: <input type="text" name="app_name_${block.id}" value="${block.app_name}"><br>
                        PT Username: <input type="text" name="pt_username_${block.id}" value="${block.pt_username}"><br>
                        PT Token: <input type="text" name="pt_token_${block.id}" value="${block.pt_token}"><br>
                        AWS Access Key: <input type="text" name="aws_access_key_${block.id}" value="${block.aws_access_key}"><br>
                        AWS Secret Key: <input type="text" name="aws_secret_key_${block.id}" value="${block.aws_secret_key}"><br>
                        Filter ID List: <input type="text" name="filter_id_list_${block.id}" value="${block.filter_id_list}"><br>
                    </div>
                    <div>
                        Console Output: <br>
                        <textarea id="console_output_${block.id}" data-block-id="${block.id}" class="console-output">${block.console_output}</textarea>
                    </div>
                    <button class="button-start" onclick="startBlock(event, '${block.id}')">Start</button>
                    <button class="button-stop" onclick="stopBlock(event, '${block.id}')">Stop</button>
                    <button class="button-delete" onclick="deleteBlock('${block.id}')">Delete</button>
                </td>
            </tr>`;

        document.body.appendChild(tabContent);

        {#// Display the new tab content and set the new tab button as active#}
        {#openTab('block' + block.id, tabButton);#}
        // Assuming the new tab's ID is newTabId
        localStorage.setItem("lastCreatedTab", 'block' + block.block.id);
        console.log("Storing in localStorage:", 'block' + block.block.id);
        // Reload the page
        location.reload();
    });
});







</script>
